.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
.containerLeft {
  margin-bottom: 50px;

}

.displayBox {
  border:  1px solid;
  border-radius: 8px;
  width: 600px;
  height: 367px;
  overflow-y: scroll;
}

.displayBox::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.displayBox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text {
  text-align: left;
  padding: 50px 20px; 
  word-wrap: break-word;
}

.placeholder {
  padding: 20px;
  color: lightgray;
}