.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.containerLeft {
  margin-bottom: 50px;
}

.containerRight {

}

.displayBox {
  border:  1px solid;
  border-radius: 8px;
  width: 500px;

}

.text {
  width: 450px;
  text-align: left;
  padding:50px 0px 50px 0px; 
  word-wrap: break-word;
  overflow: hidden;
}

