input {
  border: 1px solid #4c5767;
  border-radius: 8px;
  width: 100%;
  height: 10px;
  padding: 10px;
}

.container {
 display: flex;
}

.textRender {
text-align: left;
width: 350px;
font-family: Arial, sans-serif;
}

.resultsTitle {
  color: #1e0fbe;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}


.resultsDescription {
  color: #545454;
  font-size: 13px;
  line-height: 1.4;
}